CreditoMovilWA/Connected Services/CreditoMovil/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://services.creditomovil.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ClienteWS" targetNamespace="https://services.creditomovil.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/ClienteWS?xsd=1" namespace="https://services.creditomovil.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerPorDocIdenCliente">
    <part name="parameters" element="tns:obtenerPorDocIdenCliente" />
  </message>
  <message name="obtenerPorDocIdenClienteResponse">
    <part name="parameters" element="tns:obtenerPorDocIdenClienteResponse" />
  </message>
  <message name="obtenerPorIDCliente">
    <part name="parameters" element="tns:obtenerPorIDCliente" />
  </message>
  <message name="obtenerPorIDClienteResponse">
    <part name="parameters" element="tns:obtenerPorIDClienteResponse" />
  </message>
  <message name="listarTodosClientes">
    <part name="parameters" element="tns:listarTodosClientes" />
  </message>
  <message name="listarTodosClientesResponse">
    <part name="parameters" element="tns:listarTodosClientesResponse" />
  </message>
  <message name="listarClientesPorRanking">
    <part name="parameters" element="tns:listarClientesPorRanking" />
  </message>
  <message name="listarClientesPorRankingResponse">
    <part name="parameters" element="tns:listarClientesPorRankingResponse" />
  </message>
  <message name="generarBuffer">
    <part name="parameters" element="tns:generarBuffer" />
  </message>
  <message name="generarBufferResponse">
    <part name="parameters" element="tns:generarBufferResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente" />
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse" />
  </message>
  <message name="modificarCliente">
    <part name="parameters" element="tns:modificarCliente" />
  </message>
  <message name="modificarClienteResponse">
    <part name="parameters" element="tns:modificarClienteResponse" />
  </message>
  <message name="generarReporte">
    <part name="parameters" element="tns:generarReporte" />
  </message>
  <message name="generarReporteResponse">
    <part name="parameters" element="tns:generarReporteResponse" />
  </message>
  <message name="insertarCliente">
    <part name="parameters" element="tns:insertarCliente" />
  </message>
  <message name="insertarClienteResponse">
    <part name="parameters" element="tns:insertarClienteResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="obtenerPorDocIdenCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorDocIdenClienteRequest" message="tns:obtenerPorDocIdenCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorDocIdenClienteResponse" message="tns:obtenerPorDocIdenClienteResponse" />
    </operation>
    <operation name="obtenerPorIDCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorIDClienteRequest" message="tns:obtenerPorIDCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/obtenerPorIDClienteResponse" message="tns:obtenerPorIDClienteResponse" />
    </operation>
    <operation name="listarTodosClientes">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarTodosClientesRequest" message="tns:listarTodosClientes" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarTodosClientesResponse" message="tns:listarTodosClientesResponse" />
    </operation>
    <operation name="listarClientesPorRanking">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarClientesPorRankingRequest" message="tns:listarClientesPorRanking" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/listarClientesPorRankingResponse" message="tns:listarClientesPorRankingResponse" />
    </operation>
    <operation name="generarBuffer">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarBufferRequest" message="tns:generarBuffer" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarBufferResponse" message="tns:generarBufferResponse" />
      <fault wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarBuffer/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/eliminarClienteRequest" message="tns:eliminarCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
    </operation>
    <operation name="modificarCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/modificarClienteRequest" message="tns:modificarCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/modificarClienteResponse" message="tns:modificarClienteResponse" />
    </operation>
    <operation name="generarReporte">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarReporteRequest" message="tns:generarReporte" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarReporteResponse" message="tns:generarReporteResponse" />
      <fault wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/generarReporte/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="insertarCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/insertarClienteRequest" message="tns:insertarCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/ClienteWS/insertarClienteResponse" message="tns:insertarClienteResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorDocIdenCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIDCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClientesPorRanking">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generarBuffer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generarReporte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="insertarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/ClienteWS" />
    </port>
  </service>
</definitions>