CreditoMovilWA/Connected Services/CreditoMovil/CreditoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.creditomovil.pucp.edu.pe" targetNamespace="https://services.creditomovil.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="eliminarCredito" type="tns:eliminarCredito" />
  <xs:element name="eliminarCreditoResponse" type="tns:eliminarCreditoResponse" />
  <xs:element name="generarBuffer" type="tns:generarBuffer" />
  <xs:element name="generarBufferResponse" type="tns:generarBufferResponse" />
  <xs:element name="generarReporteCreditos" type="tns:generarReporteCreditos" />
  <xs:element name="generarReporteCreditosResponse" type="tns:generarReporteCreditosResponse" />
  <xs:element name="insertarCredito" type="tns:insertarCredito" />
  <xs:element name="insertarCreditoResponse" type="tns:insertarCreditoResponse" />
  <xs:element name="listarCreditosCliente" type="tns:listarCreditosCliente" />
  <xs:element name="listarCreditosClienteResponse" type="tns:listarCreditosClienteResponse" />
  <xs:element name="listarCreditosFiltro" type="tns:listarCreditosFiltro" />
  <xs:element name="listarCreditosFiltroResponse" type="tns:listarCreditosFiltroResponse" />
  <xs:element name="listarCreditosSinCliFiltro" type="tns:listarCreditosSinCliFiltro" />
  <xs:element name="listarCreditosSinCliFiltroResponse" type="tns:listarCreditosSinCliFiltroResponse" />
  <xs:element name="listarTodosCreditos" type="tns:listarTodosCreditos" />
  <xs:element name="listarTodosCreditosResponse" type="tns:listarTodosCreditosResponse" />
  <xs:element name="modificarCredito" type="tns:modificarCredito" />
  <xs:element name="modificarCreditoResponse" type="tns:modificarCreditoResponse" />
  <xs:element name="obtenerPorIDCredito" type="tns:obtenerPorIDCredito" />
  <xs:element name="obtenerPorIDCreditoResponse" type="tns:obtenerPorIDCreditoResponse" />
  <xs:complexType name="generarBuffer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string" />
                  <xs:element minOccurs="0" name="value" type="xs:anyType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarBufferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteCreditos">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechainicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="estadocred" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteCreditosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDCredito">
    <xs:sequence>
      <xs:element name="credito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIDCreditoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="credito">
    <xs:sequence>
      <xs:element name="cantCuotasPagadas" type="xs:int" />
      <xs:element minOccurs="0" name="cliente" type="tns:usuario" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
      <xs:element minOccurs="0" name="fechaOtorgamiento" type="xs:dateTime" />
      <xs:element name="monto" type="xs:double" />
      <xs:element name="numCredito" type="xs:int" />
      <xs:element name="numCuotas" type="xs:int" />
      <xs:element name="tasaInteres" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="documento" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="tipoDocumento" type="tns:tipoDocumento" />
      <xs:element minOccurs="0" name="ultimoLogueo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="codigoCliente" type="xs:int" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element name="ranking" type="xs:double" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
          <xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="agenciaAsignacion" type="xs:string" />
          <xs:element name="codigoCargo" type="xs:int" />
          <xs:element minOccurs="0" name="codigoEv" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="administrador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoAdm" type="xs:string" />
          <xs:element name="codigoCargo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioInstancia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="credito" type="tns:credito" />
      <xs:element minOccurs="0" name="docCliente" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_doc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCreditoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCreditosFiltro">
    <xs:sequence>
      <xs:element name="idcli" type="xs:int" />
      <xs:element minOccurs="0" name="fechaini" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCreditosFiltroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCreditosSinCliFiltro">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaini" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechafin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCreditosSinCliFiltroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="credito" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCreditoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCreditos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosCreditosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="credito" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCreditoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCreditosCliente">
    <xs:sequence>
      <xs:element name="idcli" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCreditosClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIENTE" />
      <xs:enumeration value="SUPERVISOR" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
      <xs:enumeration value="PASAPORTE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Solicitado" />
      <xs:enumeration value="Activo" />
      <xs:enumeration value="Aprobado" />
      <xs:enumeration value="Desembolsado" />
      <xs:enumeration value="Cancelado" />
      <xs:enumeration value="Anulado" />
      <xs:enumeration value="Retrasado" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>