CreditoMovilWA/Connected Services/CreditoMovil/CreditoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://services.creditomovil.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CreditoWS" targetNamespace="https://services.creditomovil.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/CreditoWS?xsd=1" namespace="https://services.creditomovil.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="obtenerPorIDCredito">
    <part name="parameters" element="tns:obtenerPorIDCredito" />
  </message>
  <message name="obtenerPorIDCreditoResponse">
    <part name="parameters" element="tns:obtenerPorIDCreditoResponse" />
  </message>
  <message name="listarCreditosFiltro">
    <part name="parameters" element="tns:listarCreditosFiltro" />
  </message>
  <message name="listarCreditosFiltroResponse">
    <part name="parameters" element="tns:listarCreditosFiltroResponse" />
  </message>
  <message name="listarCreditosSinCliFiltro">
    <part name="parameters" element="tns:listarCreditosSinCliFiltro" />
  </message>
  <message name="listarCreditosSinCliFiltroResponse">
    <part name="parameters" element="tns:listarCreditosSinCliFiltroResponse" />
  </message>
  <message name="listarCreditosCliente">
    <part name="parameters" element="tns:listarCreditosCliente" />
  </message>
  <message name="listarCreditosClienteResponse">
    <part name="parameters" element="tns:listarCreditosClienteResponse" />
  </message>
  <message name="listarTodosCreditos">
    <part name="parameters" element="tns:listarTodosCreditos" />
  </message>
  <message name="listarTodosCreditosResponse">
    <part name="parameters" element="tns:listarTodosCreditosResponse" />
  </message>
  <message name="insertarCredito">
    <part name="parameters" element="tns:insertarCredito" />
  </message>
  <message name="insertarCreditoResponse">
    <part name="parameters" element="tns:insertarCreditoResponse" />
  </message>
  <message name="modificarCredito">
    <part name="parameters" element="tns:modificarCredito" />
  </message>
  <message name="modificarCreditoResponse">
    <part name="parameters" element="tns:modificarCreditoResponse" />
  </message>
  <message name="eliminarCredito">
    <part name="parameters" element="tns:eliminarCredito" />
  </message>
  <message name="eliminarCreditoResponse">
    <part name="parameters" element="tns:eliminarCreditoResponse" />
  </message>
  <message name="generarReporteCreditos">
    <part name="parameters" element="tns:generarReporteCreditos" />
  </message>
  <message name="generarReporteCreditosResponse">
    <part name="parameters" element="tns:generarReporteCreditosResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="generarBuffer">
    <part name="parameters" element="tns:generarBuffer" />
  </message>
  <message name="generarBufferResponse">
    <part name="parameters" element="tns:generarBufferResponse" />
  </message>
  <portType name="CreditoWS">
    <operation name="obtenerPorIDCredito">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/obtenerPorIDCreditoRequest" message="tns:obtenerPorIDCredito" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/obtenerPorIDCreditoResponse" message="tns:obtenerPorIDCreditoResponse" />
    </operation>
    <operation name="listarCreditosFiltro">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosFiltroRequest" message="tns:listarCreditosFiltro" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosFiltroResponse" message="tns:listarCreditosFiltroResponse" />
    </operation>
    <operation name="listarCreditosSinCliFiltro">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosSinCliFiltroRequest" message="tns:listarCreditosSinCliFiltro" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosSinCliFiltroResponse" message="tns:listarCreditosSinCliFiltroResponse" />
    </operation>
    <operation name="listarCreditosCliente">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosClienteRequest" message="tns:listarCreditosCliente" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarCreditosClienteResponse" message="tns:listarCreditosClienteResponse" />
    </operation>
    <operation name="listarTodosCreditos">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarTodosCreditosRequest" message="tns:listarTodosCreditos" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/listarTodosCreditosResponse" message="tns:listarTodosCreditosResponse" />
    </operation>
    <operation name="insertarCredito">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/insertarCreditoRequest" message="tns:insertarCredito" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/insertarCreditoResponse" message="tns:insertarCreditoResponse" />
    </operation>
    <operation name="modificarCredito">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/modificarCreditoRequest" message="tns:modificarCredito" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/modificarCreditoResponse" message="tns:modificarCreditoResponse" />
    </operation>
    <operation name="eliminarCredito">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/eliminarCreditoRequest" message="tns:eliminarCredito" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/eliminarCreditoResponse" message="tns:eliminarCreditoResponse" />
    </operation>
    <operation name="generarReporteCreditos">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/generarReporteCreditosRequest" message="tns:generarReporteCreditos" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/generarReporteCreditosResponse" message="tns:generarReporteCreditosResponse" />
      <fault wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/generarReporteCreditos/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="generarBuffer">
      <input wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/generarBufferRequest" message="tns:generarBuffer" />
      <output wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/generarBufferResponse" message="tns:generarBufferResponse" />
      <fault wsam:Action="https://services.creditomovil.pucp.edu.pe/CreditoWS/generarBuffer/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="CreditoWSPortBinding" type="tns:CreditoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerPorIDCredito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCreditosFiltro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCreditosSinCliFiltro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCreditosCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosCreditos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCredito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCredito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCredito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="generarReporteCreditos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="generarBuffer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="CreditoWS">
    <port name="CreditoWSPort" binding="tns:CreditoWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/CreditoWS" />
    </port>
  </service>
</definitions>