CreditoMovilWA/Connected Services/CreditoMovil/NotificacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.creditomovil.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NotificacionWS" targetNamespace="http://services.creditomovil.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CreditoMovilWSBL/NotificacionWS?xsd=1" namespace="http://services.creditomovil.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPorUsuario">
    <part name="parameters" element="tns:listarPorUsuario" />
  </message>
  <message name="listarPorUsuarioResponse">
    <part name="parameters" element="tns:listarPorUsuarioResponse" />
  </message>
  <message name="insertarNotificacion">
    <part name="parameters" element="tns:insertarNotificacion" />
  </message>
  <message name="insertarNotificacionResponse">
    <part name="parameters" element="tns:insertarNotificacionResponse" />
  </message>
  <message name="modificarNotificacion">
    <part name="parameters" element="tns:modificarNotificacion" />
  </message>
  <message name="modificarNotificacionResponse">
    <part name="parameters" element="tns:modificarNotificacionResponse" />
  </message>
  <portType name="NotificacionWS">
    <operation name="listarPorUsuario">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/NotificacionWS/listarPorUsuarioRequest" message="tns:listarPorUsuario" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/NotificacionWS/listarPorUsuarioResponse" message="tns:listarPorUsuarioResponse" />
    </operation>
    <operation name="insertarNotificacion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/NotificacionWS/insertarNotificacionRequest" message="tns:insertarNotificacion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/NotificacionWS/insertarNotificacionResponse" message="tns:insertarNotificacionResponse" />
    </operation>
    <operation name="modificarNotificacion">
      <input wsam:Action="http://services.creditomovil.pucp.edu.pe/NotificacionWS/modificarNotificacionRequest" message="tns:modificarNotificacion" />
      <output wsam:Action="http://services.creditomovil.pucp.edu.pe/NotificacionWS/modificarNotificacionResponse" message="tns:modificarNotificacionResponse" />
    </operation>
  </portType>
  <binding name="NotificacionWSPortBinding" type="tns:NotificacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NotificacionWS">
    <port name="NotificacionWSPort" binding="tns:NotificacionWSPortBinding">
      <soap:address location="http://localhost:8080/CreditoMovilWSBL/NotificacionWS" />
    </port>
  </service>
</definitions>